<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/site.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/syntax.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/print.css" media="print" rel="stylesheet" type="text/css" />

    <!-- standard favicon -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- for iPhone Retina display: -->
    <link href="/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
    <!-- for iPhone: -->
    <link href="/apple-touch-icon-57x57.png" rel="apple-touch-icon" />
    <!-- for iPad: -->
    <link href="/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
    <!-- for iPad Retina: -->
    <link href="/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" />

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}

    <title>
        {% if page.title %}
             {{ page.title }} -
        {% endif %}
        {% if page.header and page.header != "Home" %}
             {{ page.header }} -
        {% endif %}
        Alexander Dymo
    </title>
    {% if page.style %}
        <style type="text/css">
            {{ page.style }}
        </style>
    {% endif %}
    <!-- : } </style> FIXME: hack to fix kate html highlighting -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37018735-1']);
        _gaq.push(['_setDomainName', 'alexdymo.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="header-navigation">
                <table width="100%">
                <tbody><tr>
                    <td>
                        <a class="header-link small-caps {% if page.header == "Home" %} current-header-link {% endif %}" href="/">
                            Home
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <a class="header-link small-caps {% if page.header == "Blog" %} current-header-link {% endif %}" href="/blog">
                            Blog
                        </a>
                    </td>
                    <td style="text-align: right;">
                        <a class="header-link small-caps {% if page.header == "Resume" %} current-header-link {% endif %}" href="/resume.html">
                            Resume
                        </a>
                    </td>
                </tr></tbody>
                </table>
            </div>
            <div class="header-text">
                <a class="clickable-header" href="/">Alexander Dymo</a>
                {% if page.header and page.header != "Home" %}
                     &ndash;&#8250;
                     {% if page.title and page.header == "Blog" %}<a class="clickable-header" href="/blog">{% endif %}
                     {{ page.header }}
                     {% if page.title and page.header == "Blog" %}</a>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="content">
            {% if page.title and page.header == "Blog" %}
                <div class="small-caps deemphasized" style="margin: 24px 0 0 0">
                    <a href="/blog">&laquo; See all posts</a>
                </div>
            {% endif %}
            {% if page.title %}
                <h1>{{ page.title | nbsp }}</h1>
            {% endif %}
            {% if page.title and page.header == "Blog" %}
                <div class="small deemphasized" style="margin: -24px 0 24px 0">
                    Posted by Alexander Dymo on {{ page.date | date: "%B %d, %Y" }}
                </div>
            {% endif %}
            {{ content }}

            {% if page.title and page.header == "Blog" %}
            <table width="100%" class="deemphasized small">
            <tbody>
                {% if page.next %}
                    <tr>
                        <td class="small-caps prev-next-post-column">
                            Next:
                        </td>
                        <td>
                            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
                        </td>
                    </tr>
                {% endif %}
                {% if page.previous %}
                    <tr>
                        <td class="small-caps prev-next-post-column">
                            Previous:
                        </td>
                        <td>
                            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            </table>
            {% endif %}
        </div>
        <div itemscope itemtype="http://data-vocabulary.org/Person" class="sidebar">
            <meta itemprop="name" content="Alexander Dymo" />
            <meta itemprop="photo" content="http://www.alexdymo.com/alexander-dymo.png" />
            <meta itemprop="url" content="http://www.alexdymo.com" />

            <div style="margin-top: 24px;" class="small-caps">About Me</div>
            <div style="padding: 6px 0 6px 0; margin:0;">
                <img src="/alexander-dymo.png" width="180px"/>
            </div>
            <p class="opening small">
            Entrepreneur, Y Combinator alum, free software developer, passionate about programming and engineering, hardcore Linuxoid.
            </p>
            <p class="small">
                Contact me:<br/>
                <script type="text/javascript">
                    document.write('<'+'a href="mailto:alex'+'@'+'alexdymo.com">alex'+'@'+'alexdymo.com</a>');
                </script><br/>
                <a href="http://ua.linkedin.com/in/adymo" target="_blank">
                    <img src="/linkedin.png" width="20" height="15" style="vertical-align:middle">LinkedIn
                </a>
            </p>
            <p class="small">
                Follow me on:<br/>
                <a href="https://twitter.com/alexander_dymo" target="_blank">
                    <img src="/twitter.png" width="20" height="15" style="vertical-align:middle">Twitter
                </a>&nbsp;
                <a href="https://plus.google.com/117794624398803940592" target="_blank">
                    <img src="/google-plus.png" width="20" height="15" style="vertical-align:middle">Google+
                </a>
            </p>
            <p class="small">
                See my projects on:<br/>
                <a href="http://github.com/adymo" target="_blank">
                    <img src="/github.png" width="20" height="16" style="vertical-align:middle"/>GitHub
                </a>
            </p>
            <p class="small">
                Subscribe to:<br/>
                <a href="http://www.alexdymo.com/blog/feed/">
                    <img src="/rss.png" width="20" height="16" style="vertical-align:middle"/>My blog RSS feed
                </a>
            </p>
        </div>
        <div class="clear"></div>

        <div class="footer small deemphasized">
            Copyright &copy; 2005-2012 <a class="header-link" target="_blank" href="https://plus.google.com/117794624398803940592?rel=author">Alexander Dymo</a>
        </div>
    </div>
</body>
</html>
